// CONFIG
// Global Tokens

// register colors
// sass-lint:disable no-color-hex
$color-stk-japanese-laurel: #248000;
// sass-lint:enable no-color-hex

// brand semantics
$brand-system: $color-stk-japanese-laurel;

// spacing unit
$spacing: 10px;
